/* Styles for the dark mode toggle */
.dark-mode-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dark-mode-toggle i {
  font-size: 18px;
}

.dark-mode-toggle:hover {
  background-color: #222;
}

button.dark-mode-button:hover {
  background-color: #222;
}

/* Light mode styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fff;
  color: #333;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

#result {
  padding: 10px;
  font-size: 18px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode input[type="text"], body.dark-mode #result {
  background-color: #555;
  color: #fff;
}

body.dark-mode button {
  background-color: #666;
}
